.container {
  border: 1px solid black;
}

.container table {
  table-layout: fixed;
}

.container-table {
   width: 100%;
   box-sizing: border-box;
   border-collapse: collapse;
}

.container-table * {
  box-sizing: border-box;
}

.container-table > tbody > tr:first-child {
  background: #E1E1E1;
  border-bottom: 1px solid black;
}

.scroll-space {
  width: 10px;
}

.head-table {
  width: 100%;
  height: 2.5em;
}

.head-table th + th {
  border-left: 1px solid black;
}

.body-table-container {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.body-table-container > table {
  width: 100%;
  text-align: center;
}

.body-table-container > table td + td {
  border-left: 1px solid black;
}

.body-table-container > table tr + tr {
  border-top: 1px solid black;
}

.head-table th:first-child {
  width: 30%;
}

.head-table th:last-child {
  width: 20%;
}

.body-table-container > table td:first-child {
  width: 30%;
}

.body-table-container > table td:last-child {
  width: 20%;
}

.body-table-container > table td {
  padding: 8px 3px;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
