.st-root {
  height: 250px;
  box-sizing: border-box;
}

.st-root * {
  box-sizing: border-box;
}

table {
  text-align: center;
}

.st-border-bottom {
  border-bottom: 1px solid black;
}

.st-border-top {
  border-top: 1px solid black;
}

.st-border-all {
  border: 1px solid black;
}

.st-table-container > tbody > tr:first-child {
  background: #E1E1E1;
}

.st-head th {
  padding: 10px 5px;
  height: 3em;
  position: relative;
}

.table-orderable th.st-arrow-up,
.table-orderable th.st-arrow-down {
  padding-right: 20px;
}

.st-hover {
  background: orange;
  cursor: pointer;
}

.st-mousedown {
  background: purple;
}

.table-orderable .st-arrow-up::after,
.table-orderable .st-arrow-down::after {
  position: absolute;
  display: block;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.table-orderable .st-arrow-up::after {
  content: "U";
}

.table-orderable .st-arrow-down::after {
  content: "D";
}

.st-head th + th {
  border-left: 1px solid black;
}

.st-body td + td {
  border-left: 1px solid black;
}

.st-body tr + tr {
  border-top: 1px solid black;
}

/*concrete styles*/

.col-wide {
  width: 30%;
}

.col-default {
  width: auto;
}

.col-shorter {
  width: 20%;
}

.st-body td {
  padding: 8px 3px;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
