.container {
  border: 1px solid black;
  height: 250px;
  box-sizing: border-box;
}

.container * {
  box-sizing: border-box;
}

.container table {
  table-layout: fixed;
}

.container-table {
   width: 100%;
   border-collapse: collapse;
}

.container-table > tbody > tr:first-child {
  background: #E1E1E1;
  border-bottom: 1px solid black;
}

.head-table {
  width: 100%;
}

.head-table th {
  padding: 10px 5px;
  height: 3em;
}

.head-table th + th {
  border-left: 1px solid black;
}

.body-table-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.body-table {
  width: 100%;
  text-align: center;
}

.body-table tfoot {
  border-top: 1px solid black;
}

.body-table tfoot.no-rows {
  border-top: none;
}

.body-table td + td {
  border-left: 1px solid black;
}

.body-table tr + tr {
  border-top: 1px solid black;
}

/*concrete styles*/

.col-wide {
  width: 30%;
}

.col-default {
  width: auto;
}

.col-shorter {
  width: 20%;
}

.body-table td {
  padding: 8px 3px;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
